<!DOCTYPE html>
<html lang="ru">
    <%- include('partials/html_header') %>
    <title>«Dev theory»</title>
<body>
    <%- include('partials/header') %>
    <div class="main-content">
        <%- include('partials/sidebar') %>
        <div class="container">
            <h1>Заголовок блога</h1>
            <hr>
            <div class="posts">
                <% posts.forEach(function(post, index) { %>
                    <div class="post">
                        <h2>Пост <%= index + 1 %></h2>
                        <p><%= post %></p>
                    </div>
                    <hr>
                <% }) %>
            </div>
        </div>    
    </div>
    <%- include('partials/script_toggle') %>
</body>
</html>
